
.rate {
  font-size: 20px;
$rate-star-color: #FFB400;

  @at-root ul#{&}, 
  ul#{&} > li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @at-root ul#{&} > li {
    cursor: pointer;
    position: relative;
  }
  
  &-text {
    margin-left: 8px;
  }


  &-star {
    color: #D9D9D9;
    user-select: none;
    position: relative;
    transition: all .3s;

    &-first {
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;
      opacity: 0;
      z-index: 10;
    }

    &-half &-first,
    &-half &-second {
      opacity: 1;
    }

    &-half &-first,
    &-full &-second {
      color: $rate-star-color;
    }

    &-first,
    &-second {
      transition: all .3s;
    }

    &-first:hover,
    &-second:hover {
      transform: scale(1.1);
    }

    &-half:hover &-first,
    &-full:hover &-second {
      color: tint($rate-star-color,30%);
    }
  }
  
}

:where(.rate) .rate-star:not(:last-child) {
  margin-right: 8px;
}