.ripple-button {
  border-radius: 4px;
  border: none;
  margin: 8px;
  padding: 14px 24px;
  background: #1976d2;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  & > .ripple {
    position: absolute;
    z-index: 1;
    animation: 1s ease 1 forwards ripple;
    width: 20px;
    height: 20px;
    content: '';
    background: rgba(255, 255, 255, 0.5);
    border-radius: 9999px ;
    opacity: 1;
  }

  & > .content {
    position: relative;
    z-index: 2;
  }

  @keyframes ripple {
    0% {
      opacity: 1;
      scale: 1;
    }

    50% {
      opacity: 0.375;
      scale: 10;
    }

    100% {
      opacity: 0;
      scale: 35;
    }
  }
}